/dist
/wheels/
*.egg-info/
__pycache__/
.coverage
.tox
.venv
/htmlcov
.vscode
.idea
.attach_pid*
/build
*_version.py
dependency_bundle
**/test_job_bundle/
**/test-job-bundle-results.txt
.DS_Store
dev_install
.exe
.run

