test/squish/nuke-assets/**/*.exr filter=lfs diff=lfs merge=lfs -text
test/squish/nuke-assets/**/*.mov filter=lfs diff=lfs merge=lfs -text
test/squish/nuke-assets/**/*.png filter=lfs diff=lfs merge=lfs -text
